/*
/*/

!shell/
!alacritty/
!cheatsheets/

!/tmux/
/tmux/*
!/tmux/tmux.conf
!/tmux/fzf_panes.tmux

!tmuxinator/
!aria2/
!applications/
!scripts/
!resources/
!keyd/
!wezterm/
!powershell/
!lazygit/
lazygit/state.yml
!yazi/

!atuin/
!zsh/
zsh/.zcompdump*
zsh/.zcompcache

!git/


!profile.sh
!.gitignore
!xprofile
!.Xmodmap
!.tasks.ini
!zsh-config.zsh
!stow-global-ignore
!starship.toml
