/*
/*/

!shell/
!alacritty/
!cheatsheets/

!/tmux/
/tmux/*
!/tmux/tmux.conf

!tmuxinator/
!aria2/
!applications/
!scripts/
!resources/



!profile.sh
!.gitignore
!xprofile
!.Xmodmap
!.tasks.ini
!zsh-config.zsh
!stow-global-ignore
