/*
/*/

!shell/
!alacritty/
!cheatsheets/

!/tmux/
/tmux/*
!/tmux/tmux.conf
!/tmux/fzf_panes.tmux

!tmuxinator/
!aria2/
!applications/
!scripts/
!resources/
!keyd/
!wezterm/
!powershell/
!lazygit/
lazygit/state.yml
!yazi/
!fcitx/config
!fcitx/conf/fcitx-keyboard.config
!atuin/
!zsh/
zsh/.zcompdump*
zsh/.zcompcache
zsh/.zhistory

!sogoupinyin/
sogoupinyin/*
!sogoupinyin/conf/
sogoupinyin/conf/*
!sogoupinyin/conf/env.ini


!ulauncher
ulauncher/ext_preferences
!git/

!zellij

!profile.sh
!.gitignore
!xprofile
!.Xmodmap
!.tasks.ini
!zsh-config.zsh
!stow-global-ignore
!starship.toml
!README.md
